<!--
   Info.plist
   InternetSlowdown

   Created by Mateo Ochoa on 2022-12-01.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>${MACOSX_DEPLOYMENT_TARGET}</string>
    <key>SMPrivilegedExecutables</key>
    <dict>
        <key>com.mochoaco.InternetSlowdownd</key>
        <string>anchor apple generic and identifier "com.mochoaco.InternetSlowdownd" and certificate leaf[subject.CN] = "Apple Development: mateo.ochoac@gmail.com (26UVZTQNJD)"</string>
    </dict>
</dict>
</plist>

