<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mochoaco.InternetSlowdownd</string>
<!--RunAtLoad is true so that the user cannot reset the slowdown by restarting their computer-->
    <key>RunAtLoad</key>
    <true/>
    <key>MachServices</key>
    <dict>
        <key>com.mochoaco.InternetSlowdownd</key>
        <true/>
    </dict>
<!--BundleProgram is a key required by the SMAppService API, available in macOS 13.0 and newer.-->
    <key>BundleProgram</key>
    <string>Contents/Library/LaunchServices/com.mochoaco.InternetSlowdownd</string>
</dict>
</plist>
